{% include 'includes/header.html' %}
{% if title %}<h1 class="mb-1">{{ title }}</h1>{% endif %}

<p class="m-0">By {{ author }} | Posted on {{ dateString }}</p>

{{ content }}
<!-- create nextPost and previousPost variables -->
<!-- Set the variables to the next and previous items on the collections.post Collection -->
{% assign nextPost = collections.post | getNextCollectionItem %}
{% assign previousPost = collections.post | getPreviousCollectionItem %}

{% if nextPost %}
    <div class="mt-4">
        <h3>Next Post</h3>
        <h4><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></h4>
    </div>
{% endif %}
{% if previousPost %}
    <div class="mt-4">
        <h3>Previous Post</h3>
        <h4><a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></h4>
    </div>
{% endif %}

{% include 'includes/footer.html' %}
